* {
  scrollbar-color: transparent transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #191922;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
nav #logo{
  background-color: #191922;
}
h1 {
  font-size: 50px;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri;
}
nav #theme {
  position: absolute;
  right: 5%;
}
.chat-container {
  width: 100%;
  height: calc(80% - 80px);
  background-color: #17181ade;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.25rem;
  overflow: auto;
  margin-top: 80px;
  height: calc(100vh - 80px - 20%);
  overflow-y: auto;
  overflow-x: hidden;
}
.chat-container::-webkit-scrollbar {
  display: none;
}
.user-chat-box {
  width: 60%;
  position: relative;
  left: 40%;
}
.ai-chat-box {
  padding-top: 0;
  width: 60%;
  position: relative;
}
.user-chat-area {
  width: 80%;
  padding: 20px;
  background-color: rgb(14 37 38);
  color: rgb(252, 255, 255);
  border-radius: 25px 0px 35px 25px;
  box-shadow: 2px 2px 10px black;
  display: flex;
  margin-left: 1vw;
  flex-direction: column;
  position: relative;
}
.chooseimg {
  width: 15vw;
  max-width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 15px;
}
.choose {
  width: 30px;
  height: 30px;
}
.ai-chat-area {
  width: 100%;
  padding: 20px;
  background-color: #000000;
  color: aliceblue;
  position: relative;
  left: 10%;
  margin-left: -1vw;
  border-radius: 0px 25px 25px 25px;
  box-shadow: 2px 2px 10px black;
}
#user-image {
  position: absolute;
  right: 0;
  width: 5%;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 10px black);
}
#ai-image {
  position: absolute;
  left: 0;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 10px black);
}

.prompt-area {
  width: 100%;
  height: 20%;
  background-color: #17181ade;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 1px;
}

.prompt-area input {
  height: 50px;
  width: 60%;
  padding: 20px;
  background-color: #232326;
  outline: none;
  border: none;
  border-radius: 20px;
  color: aliceblue;
  font-size: 20px;
  box-shadow: 2px 2px 5px black;
}
.prompt-area button {
  height: 40px;
  width: 40px;
  padding: 20px;
  border-color: black;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(32, 30, 30);
  cursor: pointer;
  position: relative;
  box-shadow: 1px 1px 5px #fffbfb;
  transition: all 0.5s;
}
button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#image img {
  width: 30px;
  height: 30px;
  transition: none;
  border-radius: 30%;
}
.prompt-area button:hover {
  background-color: rgb(56, 54, 54);
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.prompt-area input:hover {
  background-color: rgb(34, 33, 33);
}
@media (max-width: 600px) {
  .user-chat-box {
    width: 80%;
    left: 20%;
  }
  nav h1 {
    font-size: 1.5rem;
  }
 
  nav img {
    width: 10%;
  }
  nav #logo {
    width: 13%;
    aspect-ratio: 1 /0.5;
    object-fit: cover;
  }
  .ai-chat-box {
    width: 85%;
    left: 0;
  }
  .ai-chat-area {
    margin-left: 1vh;
  }
}
@media (max-width: 400px) {
  .chat-container {
    font-size: 1rem;
  }
  nav{
    gap: 1.5%;
  }
 nav h1{
    font-size: 1.8rem;
  }
  .prompt-area input {
    font-size: 1rem;
  }

  #ai-image {
    width: 10%;
    
  }
  #user-image {
    width: 11%;
    margin-left: -4vw;
  }
}
@media (max-width: 400px){
    nav #logo {
        width: 16%;
        aspect-ratio: 1 /0.5;
        object-fit: cover;
      }
      nav{
        gap: 2%;
      }
}

